[submodule "ext/C-sharp-console-gui-framework"]
	path = ext/C-sharp-console-gui-framework
	url = https://github.com/allisterb/C-sharp-console-gui-framework.git
[submodule "ext/spectre.console"]
	path = ext/spectre.console
	url = https://github.com/allisterb/spectre.console.git
[submodule "ext/NTokenizers.Extensions.Spectre.Console"]
	path = ext/NTokenizers.Extensions.Spectre.Console
	url = https://github.com/allisterb/NTokenizers.Extensions.Spectre.Console.git
